.rightbar {
  flex: 2.5;
  background-color: rgb(255, 255, 255);
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
}

.rightbar::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;

}
::-webkit-scrollbar-thumb {
  background-color: rgb(179, 179, 179);
  border-radius: 10px;
}

.rightbarWrapper {
  padding: 20px;
}

.rightbarFriendList{
  width: 100%;
  padding-left: 0;
  list-style: none;
}

.rightbarFriends{
  display: flex;
  align-content: center;
}