.navbar{
  height: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(223, 236, 235);
  box-shadow: 0 4px 8px 0 5px rgba(0, 0, 0, 0.03);
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar nav{
  display: flex;
}
.navbar a{
  text-align: center;
  padding: 5px ; 
  transition: all 0.3s ease; 
  color: grey;
}
.material-icons{
  padding: 5px;
  margin: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: rgb(75, 148, 123);
  opacity: 90%;
}

.material-icons:hover{
  opacity: 100%;
}

.search{
  height: 30px;
  margin-left: 30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.search input{
  border: none;
}

.search input:focus{
  outline: none;
}

.homeBtnWrapper{
  flex:6;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.homeBtn{
  color: white;
  font-size: 30px;
  color: darkcyan;
  opacity: 90%;
}

.homeBtn:hover{
  opacity: 100%;
}

.navbarProfile{
  display: flex;
  flex: 2;
  margin-top: 5px;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 30px;
}

.navbarIcon {
  width: 32px;
  height: 32px;
  align-self: center;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}