.dashboard-container{
  width: 100%;
  height: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.dashboard-container > div{
  border-radius: 1px solid lightgray;
}
.dashboard-container a{
  font-family:'Segoe UI', Roboto sans-serif;
  font-size: large;
  color: black; 
  text-decoration: none;
  padding-left: 10px;
  cursor: pointer;
}

.dashboard-main{
  display: flex;
  flex-direction: row;
}

.logoutBtn{
  height: 30px;
  align-items: center;
  display: flex;
}