body{
  background-color: #7cddd2;
  font-size: 100%;
  font-family: 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
  margin: 0;
}  

.container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5,1fr);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.top-wrapper{
  grid-row-start: 1;
  grid-row-end: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  font-size: x-large;
  color: #ffffff;
}
.btns-wrapper{
  grid-row-start: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-btn{
  width: 99%;
  height: 35%;
  padding: 3px 0;
  color:white;
  font-size: 20px;
  background-color: #00beaa;
}

.signup-btn:hover{
  background-color: #00a492;
  transition: 0.3s ease-out;
}
.login-btn{
  width: 99%;
  height: 35%;
  font-size: 20px;
  color: #00a492;
  background-color: #edf8f7;
}

.login-btn:hover{
  background-color: white;
  transition: all 0.3s ease;
}

button{
  border: 1px white;
  border-radius: 5px;
  cursor: pointer;
}

h1, h3{
  margin:0;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  div{
    font-size: 50%;
  }
}