h1{
    color: darkcyan;
    font-weight: 900;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0;
}
p{
    margin:0;
}
a:visited, a:link{
    color: #6c7686;
}
label{
  font-weight: 600;
  font-family:Arial, Helvetica, sans-serif ;
  color: #6c7686;
}

input{
  border: 1px solid grey;
  border-radius: 3px;
  margin: 8px;
  height: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  color: #025850;
}

input:focus{
   outline-color: #00beaa;
}

.signup-page, .login-page{
  margin-top: 20px;
  border: 1px solid #00beaa;
}

.sl-container{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{
  margin-top: 5px;
  width: 360px;
  min-width: 150px;
  padding: 15px 20px;
  background-color: #f6faff;
  border-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.close-btn{
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  margin: 10px;
}

.card-form{
  margin-top: 15px;
}

.invalid:focus{
  outline:none;
  border: 1px solid red;
  background-color: #ffffff;
  box-shadow: 0px 0px 1px red;
}

.show{
  display: flex;
  color: rgb(218, 4, 4);
  background-color: rgba(247, 196, 196, 0.822);
}

.hide{
  display: none;
}

.signup{
  display: flex;
  justify-content: center;
}

.card-link{
  margin-left: 10px;
}

.invalid{
  border: 1px solid red;
  background-color: rgb(248, 237, 237);
}

@media only screen and (max-width:500px) {
  .card{
    width: 200px;
  } 

  h1{
    color: darkcyan;
    font-weight: 900;
    font-size: 22px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0;
  }
  
  label{
    font-weight: 600;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif ;
    color: #6c7686;
  }
  .card-form{
    margin-top: 10px;
  }

  .signup{
    flex-direction: column;
    align-items: center;
  }

  .card-link{
    font-size: 12px;
  }
}